<h3>To-Do List</h3>
<% @items.each do |item| %>
<ul>
  <li><%= item.name %> <%= link_to "", [current_user, item], method: :delete, remote: true, class: 'glyphicon glyphicon-ok', id: "item-#{item.id}" %></li>
</ul>
<% end %>